<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-bottom" th:fragment="footer">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand" style="font-size: 1.5rem">Copyright © 2017 | Wszystkie prawa zastrzeżone.</span>
        </div>

        <div class="nav navbar-nav navbar-right">
            <span class="navbar-brand" style="font-size: 1.5rem">
                <span class="glyphicon glyphicon-globe"></span>
                Author: Łukasz Parśniak 2018
            </span>
        </div>

    </div>
</nav>
</body>
</html>