<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body>
<nav class="navbar navbar-inverse" th:fragment="pageHeader"> <!-- inverse zmienia na czarny kolor -->

    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Improve Your Java Knowledge</a>
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li>
                <a href="/userProfile"> <div sec:authorize="isAuthenticated()" style="font-size: 16px; color: white;">Zalogowany jako: <span sec:authentication="name"></span></div></a>
            </li>

            <li><a href="/registeredUsers"><span class="glyphicon glyphicon-th-list"></span> Lista użytkowników</a></li>

            <li><a href="/scoreboard"><span class="glyphicon glyphicon-stats"></span> Ranking</a></li>

            <li>
                <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="get">
                    <button style="margin-right: 10px" class="btn btn-primary navbar-btn btn-sm" type="Submit"><span class="glyphicon glyphicon-log-out"></span> Wyloguj sie</button>
                </form>
            </li>
        </ul>


    </div>
</nav>


</body>
</html>


