<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/pageHeader :: pageHeader"></nav>

<div class="container">
    <p class="contact">
        Jeśli masz pytania, wskazówki lub uwagi skontaktuj się ze mną pod adresem:<br> <strong>lukasz.parsniak@op.pl</strong> <br ><br >

        Aplikacja tworzona jest w celach edukacyjnych - pracując nad nią udoskonalam moje umiejętności z programowania w
        Javie, Springu jak również baz danych.
        
    </p>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>