<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/pageHeader :: pageHeader"></nav>

<div class="container">

    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <h1 style="border-bottom: 1px solid gray; text-align: center; padding-bottom: 10px;"> Aplikacja sprawdzająca wiedzę.</h1>

            <p class="text-main-page">Aplikacja pozwoli Ci przeprowadzić testy w trzech różnych kategoriach - Java, Spring oraz
                J. Angielski.
                Zarejestruj się, a następnie wykonuj testy jednokrotnego wyboru aby zdobyć i utrwalić swoją wiedzę
                z danego zakresu.
                <br><br>W profilu użytkownika, możesz obserwować dotychczasowe postępy, jak również usunąć konto. W aplikacji
                dostępny jest także ranking zawierający 10 użytkowników z największą liczbą punktów.
                <br><br>Jeśli masz pytania, skontaktuj się ze mną przez formularz kontaktowy dostępny poniżej.
            </p>


            <div class="row text-center" style="margin-top: 30px;">

                <div class="col-sm-4" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-primary btn-lg" role="button">
                        <span class="glyphicon glyphicon-log-in"></span> Logowanie
                    </a>
                </div>

                <div class="col-sm-4" sec:authorize="!isAuthenticated()">
                    <a href="/register" class="btn btn-primary btn-lg" role="button">
                        <span class="glyphicon glyphicon-user"></span> Rejestracja
                    </a>
                </div>

                <div class="col-sm-4" sec:authorize="isAuthenticated()">
                    <a href="/learning/" class="btn btn-success btn-lg" role="button">
                        <span class="glyphicon glyphicon-book"></span> Nauka
                    </a>
                </div>

                <div class="col-sm-4" sec:authorize="isAuthenticated()">
                    <a href="/userProfile" class="btn btn-primary btn-lg" role="button">
                        <span class="glyphicon glyphicon-user"></span> Profil
                    </a>
                </div>

                <div class="col-sm-4">
                    <a href="/contact" class="btn btn-primary btn-lg" role="button">
                        <span class="glyphicon glyphicon-envelope"></span> Kontakt
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>