<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/pageHeader :: pageHeader"></nav>

<div class="container">


    <form method="post">

        <h3 class="head-label"> Java Basic I Quiz - Powodzenia! <br>
            <small>Za brak odpowiedzi - 0 punktów.</small>
        </h3>


        <div class="alert alert-danger" th:if="${worseScore}" role="alert" style="text-align: center">

            <h4 class="alert-heading">Porażka!</h4>
            <p th:text="${worseScore}"></p>
            <hr>
            <a href="/" class="alert-link">Powrót na stronę główną.</a>
        </div>

        <div class="alert alert-success" role="alert" th:if="${betterScore}" style="text-align: center">

            <h4 class="alert-heading">Brawo!</h4>
            <p th:text="${betterScore}"></p>
            <hr>
            <a href="/" class="alert-link">Powrót na stronę główną.</a>

        </div>


        <div class="col-md-8 col-md-offset-2">

            <div class="form-group">

                <span th:text="${howMuchQuestion}"></span>

                <h2 th:text="${question}"></h2>

                <div class="funkyradio" th:if="${question}">

                    <div class="funkyradio-primary">
                        <input type="radio" th:name="getUserAnswer" value="A" id="radio1"/>
                        <label th:text="${answerA}" for="radio1"></label>
                    </div>


                    <div class="funkyradio-primary">
                        <input type="radio" th:name="getUserAnswer" value="B" id="radio2"/>
                        <label th:text="${answerB}" for="radio2"></label>
                    </div>

                    <div class="funkyradio-primary">
                        <input type="radio" th:name="getUserAnswer" value="C" id="radio3"/>
                        <label th:text="${answerC}" for="radio3"></label>
                    </div>

                    <div class="funkyradio-primary">
                        <input type="radio" th:name="getUserAnswer" value="D" id="radio4"/>
                        <label th:text="${answerD}" for="radio4"></label>
                    </div>

                    <br>
                </div>

                <span th:if="${continueQuiz}"><input type="submit" class="btn btn-primary btn-block" value="Następny"/></span>

                <span th:if="${endOfQuiz}"><input type="submit" class="btn btn-primary btn-block" value="Zakończ test"/></span>
            </div>



        </div>

    </form>


</div>


<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>