<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/pageHeader :: pageHeader"></nav>


<div class="container">

    <h1 class="head-label">Top 10 użytkowników :</h1>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>LP</th>
            <th>Nazwa użytkownika</th>
            <th>Liczba punktów</th>
        </tr>
        </thead>

        <tbody>
        <div th:each="userFromBase, iterator : ${RegisteredUsersFromBase}">
            <tr th:if="${iterator.index < 3} " class="success">
                <td th:text="${iterator.index+1}"></td>
                <td th:text="${userFromBase.username}"></td>
                <td th:text="${userFromBase.score}"></td>
            </tr>

            <tr th:if="${iterator.index >= 3} ">
                <td th:text="${iterator.index+1}"></td>
                <td th:text="${userFromBase.username}"></td>
                <td th:text="${userFromBase.score}"></td>
            </tr>
        </div>
        </tbody>
    </table>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>