<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/pageHeader :: pageHeader"></nav>

<div class="container">

    <h1 class="head-label"> Wybierz kategorię testów: </h1>

    <div class="row justify-content-around">

        <div class="col-md-4">

            <a href="/javaQuiz">
                <div class="containers-of-category" style="background: url('../img/javaImg.png') no-repeat;">
                    <div class="small-container-down">
                        <h2 class="label-on-containers">Java</h2>
                    </div>
                </div>

            </a>
        </div>


        <div class="col-md-4">

            <a href="/springQuiz">
                <div class="containers-of-category" style="background: url('../img/springImg.png') no-repeat;">
                    <div class="small-container-down">
                        <h2 class="label-on-containers">Spring</h2>
                    </div>
                </div>

            </a>
        </div>


        <div class="col-md-4">

            <a href="/englishQuiz">
                <div class="containers-of-category" style="background: url('../img/engImg.png') no-repeat;">
                    <div class="small-container-down">
                        <h2 class="label-on-containers">J. Angielski</h2>
                    </div>
                </div>

            </a>
        </div>

    </div>


</div>


<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>