<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>
<body>

<nav th:replace="fragments/pageHeader :: pageHeader"></nav>

<div class="container">

    <h1 class="head-label">Lista zarejestrowanych użytkowników w bazie danych :</h1>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nazwa użytkownika</th>
            <th>Data rejestracji</th>
            <th>Aktywność</th>
            <th>Prawo dostępu</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="userFromBase : ${RegisteredUsersFromBase}">
            <td th:text="${userFromBase.id}"></td>
            <td th:text="${userFromBase.username}"></td>
            <td th:text="${userFromBase.dateOfRegistration}"></td>
            <td th:text="${userFromBase.active}"></td>
            <td th:text="${userFromBase.roles}"></td>
        </tr>
        </tbody>

    </table>

</div>

<footer th:replace="fragments/footer :: footer"></footer>
</div>

</body>
</html>